# This starter example of a spec that creates a test harness and provisions a real s3 bucket.
# The test harness will be created at:
#
#    /tmp/terraspace-test-harnesses/<%= @name %>
#
# It's recommended to run this on a test AWS account.
#
describe "main" do
  before(:all) do
    mod_path = File.expand_path("../..", __dir__)
    terraspace.build_test_harness(
      name: "<%= @name %>",
      modules: {example: mod_path},
      stacks:  {example: "#{mod_path}/test/spec/fixtures/stack"},
      config:  "#{mod_path}/test/spec/fixtures/config",
    )
    terraspace.up("example")
  end
  after(:all) do
    terraspace.down("example")
  end

  it "successful deploy" do
    storage_account_id = terraspace.output("example", "storage_account_id")
    expect(storage_account_id).to include("sa") # starts with sa
  end
end
